node_modules
.expo
dist
build
.turbo
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
*.log
.DS_Store
coverage
.vercel
apps/mobile/.expo
apps/mobile/dist
apps/mobile/ios
apps/mobile/android
*.tsbuildinfo
.pnpm-store
supabase/.temp
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
