node_modules
.expo
dist
build
.turbo
.env
.env.local
.env.eas-simulator
apps/mobile/.env.eas-simulator
*.log
.DS_Store
coverage
.vercel
apps/mobile/.expo
apps/mobile/dist
*.tsbuildinfo
.pnpm-store
supabase/.temp
